* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Start Page One */
/*Start Sidebar*/
.page {
  width: 100%;
  height: 600px;
  background-color: hsl(217, 100%, 97%);
  position: relative;
}

.page.active {
  height: 672px;
}

.page .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page .content .sidebar {
  width: 100%;
  background-image: url("/mulity step form/assets /images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  height: 172px;
}

.page .content .sidebar .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  right: 0px;
  gap: 5px
}

.page .content .sidebar .container .box a {
  position: relative;
  right: 13px;
  top: 22.5px;
  margin-left: 35px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .content .sidebar .container .box a.active {
  color: hsl(213, 96%, 18%);
  z-index: 2;
}

.page .content .sidebar .container .box a::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 10px;
  z-index: 2;
}

.page .content .sidebar .container .box .text {
  display: none;
}

.page .content .sidebar .container .box a.active::before {
  z-index: -2;
  background-color: hsl(229, 24%, 87%);
}

/*End sidebar*/
/*Start Page Content*/
.page .content .form-content {
  width: 92%;
  height: 370px;
  background-color: white;
  position: relative;
  top: -73px;
  right: 1px;
  border-radius: 5px;
  padding: 20px;
}

.page .content .form-content .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.page .content .form-content .container .text h2 {
  color: hsl(213, 96%, 18%);
  font-weight: 900;
}

.page .content .form-content .container .text p {
  line-height: 1.5;
  color: hsl(231, 11%, 63%);
  position: relative;
  top: -12.5px;
}

.page .content .form-content .container form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 15px;
  top: -2.5px;
}

.page .content .form-content .container form .box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.page .content .form-content .container form .box label {
  color: hsl(213, 96%, 18%);
  position: relative;
  top: -1px;
  right: -2px;
  font-size: 12px;
}

.page .content .form-content .container form .box input {
  width: 97%;
  padding: 10px;
  color: hsl(213, 96%, 18%);
  cursor: grab;
  border-radius: 4px;
  border: 1px solid;
}

.page .content .form-content .container form .box input:focus::placeholder {
  opacity: 0;
}

.page .content .form-content .container form .box input:focus {
  outline: none;
}

.page .content .form-content .container form .box .Next-Step {
  position: absolute;
  width: 100px;
  right: -20px;
  top: 150px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  background-color: hsl(213, 96%, 18%);
  outline: transparent;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .content .form-content .container form .box span.errors {
  color: hsl(354, 84%, 57%);
  font-weight: 800;
  font-size: 5px;
  text-align: right;
  position: absolute;
  right: 9px;
  top: 0px;
}

.page .content .form-content .container form .box .Next-Step:hover {
  background: #273DA3;
}

/*End Page Content*/
@media (min-width:768px) {
  body {
    width: 1440px;
  }

  .page {
    width: 100%;
    height: 2690px;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page.active {
    width: 100%;
    height: 2680px;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page .content {
    width: 66%;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
  }

  .page .content .sidebar {
    width: 274px;
    height: 568px;
    background-image: url("/mulity step form/assets /images/bg-sidebar-desktop.svg");
    border-radius: 6px;
    background-repeat: repeat;
    margin: 10px;
  }

  .page .content .sidebar .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 20px;
    top: -5px;
  }

  .page .content .sidebar .container .box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .page .content .sidebar .container .box:nth-child(2) {
    position: relative;
    top: -80px;
  }

  .page .content .sidebar .container .box:nth-child(3) {
    position: relative;
    top: -160px;
  }

  .page .content .sidebar .container .box:nth-child(4) {
    position: relative;
    top: -240px;
  }

  .page .content .sidebar .container .box .text {
    display: block;
    position: relative;
    left: 65px;
    text-transform: uppercase;
    top: -13px;
  }

  .page .content .sidebar .container .box .text h6 {
    color: hsl(231, 11%, 63%);
    position: relative;
    top: 30px;
    font-size: 14px;
    font-weight: 500;
  }

  .page .content .sidebar .container .box .text p {
    color: hsl(231, 100%, 99%);
    font-weight: bold;
  }

  .page .content .sidebar .container .box a {
    position: absolute;
    top: 55px;
    right: 240px;
    cursor: pointer;
  }

  .page .content .sidebar .container .box a::before {
    content: '';
    position: absolute;
  }
  .page .content .form-content {
    flex: 1;
  }

  .page .content .form-content .container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 50px;
    padding: 20px;
  }

  .page .content .form-content .container .text {
    position: relative;
    bottom: 47px;
  }

  .page .content .form-content .container form {
    width: 100%;
    position: relative;
    top: -40px;
  }

  .page .content .form-content .container form .box input {
    width: 80%;
    border-radius: 6px;
    cursor: grab;
  }

  .page .content .form-content .container form .box:nth-child(2) {
    position: relative;
    top: 7px;
  }

  .page .content .form-content .container form .box:nth-child(3) {
    position: relative;
    top: 17px;
  }

  .page .content .form-content .container form .box input:focus {
    border: 1px solid hsl(213, 96%, 18%);
  }

  .page .content .form-content .container form .box .Next-Step {
    position: absolute;
    width: 100px;
    left: 362.5px;
    top: 170px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page .content .form-content .container form .box .Next-Step:hover {
    background: #273DA3;
  }

  .page .content .form-content .container form .box span.errors {
    position: absolute;
    right: 115px;
  }
}

/* End Page One */
/* Start Page Two */
.page .content .content {
  width: 92%;
  height: 470px;
  background-color: white;
  position: relative;
  right: 1px;
  top: -73px;
  border-radius: 5px;
}

.page .content .content .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page .content .content .container .text h2 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.page .content .content .container .text p {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  bottom: 12.5px;
}

.page .content .content .container .cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 7.5px;
}

.page .content .content .container .cards>span {
  position: absolute;
  font-size: 12px;
  color: hsl(354, 84%, 57%);
  right: 5px;
  top: -16px;
}

.page .content .content .container .cards .box {
  width: 285px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 10px;
  Border-Radius: 10px;
  margin-bottom: 8.5px;
  position: relative;
}

.page .content .content .container .cards .box.active {
  border: 1.4px solid hsl(243, 100%, 62%)
}

.page .content .content .container .cards .box img {
  width: 40px;
  position: absolute;
  top: 10px;
}

.page .content .content .container .cards .box .text {
  flex: 1;
  position: absolute;
  left: 60px;
  top: -20px;
}

.page .content .content .container .cards .box .text h4 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  position: relative;
  top: 9px;
}

.page .content .content .container .cards .box .text span.months-count {
  position: absolute;
  width: 100px;
  top: 80px;
  color: hsl(213, 96%, 18%);
}

.page .content .content .container .cards .box .text p {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  position: relative;
  top: -9px;
}

.page .content .content .container .cards .box .text span {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

.page .content .content .container .cards .Toggle-Button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(231, 100%, 99%);
  height: 45px;
  border-radius: 6px;
}

.page .content .content .container .cards .Toggle-Button h5 {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.page .content .content .container .cards .Toggle-Button h5:first-child {
  position: relative;
  left: 18px;
}

.page .content .content .container .cards .Toggle-Button h5.active {
  color: hsl(213, 96%, 18%);
}

.page .content .content .container .cards .Toggle-Button h5:last-child {
  position: relative;
  left: -18px;
}

.page .content .content .container .cards .Toggle-Button .toggle-switch {
  background-color: hsl(213, 96%, 18%);
  width: 40px;
  height: 20px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  top: 0px;
}

.page .content .content .container .cards .Toggle-Button .toggle-switch::before {
  content: "";
  background-color: white;
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 2.5px;
  transition: 0.3s;
}

.page .content .content .container .cards .Toggle-Button .toggle-switch.active::before {
  content: '';
  position: absolute;
  left: 25px;
}

.page .content .content .container .cards .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 382.5px;
}

.page .content .content .container .cards .buttons .Go-Back {
  background-color: white;
  border: none;
  color: hsl(231, 11%, 63%);
  position: relative;
  right: 28px;
  font-weight: bold;
  top: -5px;
}

.page .content .content .container .cards .buttons .Next-Step {
  color: white;
  background-color: hsl(213, 96%, 18%);
  outline: transparent;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 18.5px;
  top: -5px;
}

.page .content .content .container .cards .buttons .Next-Step:hover {
  background: #273DA3;
}

@media (min-width:768px) {
  .page .content .content {
    flex: 1;
    position: relative;
    top: 1px;
  }

  .page .content .content .container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 90px;
    top: -170px;
  }

  .page .content .content .container .text {
    position: relative;
    bottom: -83px;
  }

  .page .content .content .container .text p {
    position: relative;
    top: -10px;
  }

  .page .content .content .container .cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: relative;
    right: 76px;
    top:15px;
    gap: 20px;
  }

  .page .content .content .container .cards>span {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .page .content .content .container .cards .box {
    width: 140px;
    height: 170px;
    display: flex;
    flex-direction: column;
  }

  .page .content .content .container .cards .box .text {
    position: absolute;
    left: 15px;
    top: 60px;
  }

  .page .content .content .container .cards .box img {
    position: absolute;
    left: 15px;
  }

  .page .content .content .container .cards .Toggle-Button {
    width: 465px;
    position: absolute;
    left: 50%;
    top: 102%;
    transform: translate(-50%, -50%);
  }
  .page .content .content .container .cards .Toggle-Button h5:nth-child(1){
    transform: translateX(50px);
  }
    .page .content .content .container .cards .Toggle-Button h5[data-duration="Yearly"] {
    transform: translateX(-50px);
  }
  .page .content .content .container .cards .buttons {
    position: absolute;
    top: 370px;
  }

  .page .content .content .container .cards .buttons .Next-Step {
    position: absolute;
    left: 442.5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    width: 100px;
  }

  .page .content .content .container .cards .buttons .Next-Step:hover {
    background: #273DA3;
  }

  .page .content .content .container .cards .buttons .Go-Back {
    position: absolute;
    right: 472.5px;
    top: 70px;
  }
}

/* End Page Two */
/* : */
.page .content .pick-content {
  width: 92%;
  height: 341px;
  background-color: white;
  position: relative;
  top: -73px;
  right: 1px;
  border-radius: 5px;
}

.page .content .pick-content .text h2 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.page .content .pick-content .container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  left: 10px;
}

.page .content .pick-content .text p {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
  line-height: 1.2;
  position: absolute;
  top: 50px;
}

.page .content .pick-content .selectors {
  width: 100%;
  height: 100%;
  position: relative;
  top: 45px;
}

.page .content .pick-content .selectors .box {
  width: 93%;
  height: 57px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.page .content .pick-content .selectors .box.active {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
}

.page .content .pick-content .selectors .box .text {
  width: 100%;
  height: 100%;
}

.page .content .pick-content .selectors .box .text h4 {
  position: relative;
  left: 28px;
  top: -8px;
  color: hsl(213, 96%, 18%);
}

.page .content .pick-content .selectors .box .text p {
  position: relative;
  left: 28px;
  font-size: 11px;
  top: -29px;
  color: hsl(231, 11%, 63%);
  ;
}

.page .content .pick-content .selectors .box input {
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  position: relative;
  left: 15px;
}

.page .content .pick-content .selectors .box input::after {
  content: url("/mulity step form/assets /images/icon-checkmark.svg");
  display: none;
}

.page .content .pick-content .selectors .box input:checked {
  background: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%);
}

.page .content .pick-content .selectors .box input:checked::after {
  display: block;
}

.page .content .pick-content .selectors .box span {
  position: relative;
  right: 15px;
  color: hsl(243, 100%, 62%);
  font-weight: 500;
  font-size: 14px;
}

.page .content .pick-content .selectors .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 395px;
}

.page .content .pick-content .selectors .buttons .Next-Step {
  color: white;
  background-color: hsl(213, 96%, 18%);
  outline: transparent;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3px;
}

.page .content .pick-content .selectors .buttons .Next-Step:hover {
  background: #273DA3;
}

.page .content .pick-content .selectors .buttons .Go-Back {
  background-color: white;
  border: none;
  color: hsl(231, 11%, 63%);
  position: relative;
  right: 25px;
  top: 3px;
  font-weight: bold;
}

@media (min-width:768px) {
  .page .content .pick-content {
    flex: 1;
    position: relative;
    top: 1px;
  }

  .page .content .pick-content .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 90px;
    top: -170px;
  }

  .page .content .pick-content .container .text {
    position: relative;
    bottom: -64px;
  }
  .page .content .pick-content .container .selectors {
    width: 100%;
    height: 100%;
    position: relative;
    top: 80px;
  }

  .page .content .pick-content .container .selectors .box {
    width: 70%;
    height: 24%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .page .content .pick-content .container .selectors .box .text {
    position: relative;
    top: 7.5px;
    left: 8px;
  }

  .page .content .pick-content .selectors .buttons .Next-Step {
    position: absolute;
    left: 345px;
    top: -5px;

  }

  .page .content .pick-content .selectors .buttons .Go-Back {
    position: relative;
    right: 8px;
    top: 5px;
  }

  .page .content .pick-content .selectors .buttons {
    position: absolute;
    top: 425px;
  }
}

/* End Page Three */
/* Start Page Four */
.page .content .finish-up {
  width: 92%;
  background-color: white;
  position: relative;
  top: -73px;
  right: 1px;
  border-radius: 5px;
}

.page .content .finish-up .container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  left: 10px;
}

.page .content .finish-up .container.active {
  height: 380px;
  padding: 20px;
}

.page .content .finish-up .container .text {
  position: relative;
}

.page .content .finish-up .container .text h2 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.page .content .finish-up .container .text p {
  color: hsl(231, 11%, 63%);
  width: 89%;
  font-weight: 500;
  line-height: 1.5;
  transform: translateY(-12.5px);
}

.page .content .finish-up .container .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page .content .finish-up .container .buttons .confirm {
  color: white;
  background-color: hsl(243, 100%, 62%);
  outline: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 520px;
}

.page .content .finish-up .container .buttons .Go-Back {
  background-color: white;
  border: none;
  color: hsl(231, 11%, 63%);
  position: absolute;
  left: -10px;
  font-family: bold;
  top: 530px;
}

.page .content .finish-up .container .buttons .confirm:hover {
  opacity: 0.5;
}

.page .content .finish-up .container .choices {
  width: 88%;
  background-color: hsl(217, 100%, 97%);
  padding: 10px 15px 0px 15px;
  Border-Radius: 5px;
  position: relative;
  top: -10px;
}

.page .content .finish-up .container .choices .box,
.page .content .finish-up .container .choices .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.page .content .finish-up .container .choices .card .text h4 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  position: relative;
  top: -15px;
}

.page .content .finish-up .container .choices .card .text a {
  color: hsl(231, 11%, 63%);
  position: relative;
  top: -35px;
}

.page .content .finish-up .container .choices .card span {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  position: relative;
  top: -10px;
}

.page .content .finish-up .container .choices .card::after {
  content: '';
  width: 100%;
  height: 0.1px;
  background-color: hsl(231, 11%, 63%);
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page .content .finish-up .container .choices .box {
  height: 30px;
}

.page .content .finish-up .container .choices .box:not(:nth-child(1)) span {
  color: hsl(213, 96%, 18%);
  font-weight: 400;
  position: relative;
  top: -10px;
}

.page .content .finish-up .container .choices .box h4 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  position: relative;
  top: -10px;
}

.page .content .finish-up .container .choices .box:not(:last-child) {
  margin-bottom: 5px;
}

.page .content .finish-up .container .total {
  width: 88%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page .content .finish-up .container .total p {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  position: relative;
  left: 15px;
  font-size: 16px;
}

.page .content .finish-up .container .total span {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
  position: relative;
  right: 16px;
  font-size: 16px;
}

@media (min-width:768px) {
  .page .content .finish-up {
    flex: 1;
    position: relative;
    top: 1px;
  }

  .page .content .finish-up .container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 90px;
    top: -170px;
  }

  .page .content .finish-up .container>.text {
    position: absolute;
    bottom: -25px;
  }

  .page .content .finish-up .container>.text p {
    position: relative;
    width: 100%;
    bottom: 25px;
  }

  .page .content .finish-up .container>.text h2 {
    position: relative;
    bottom: 24px;
  }

  .page .content .finish-up .container .choices {
    width: 70%;
    position: absolute;
    top: 25px;
  }

  .page .content .finish-up .container .total p {
    position: relative;
    right: 61px;
  }

  .page .content .finish-up .container .total span {
    position: relative;
    left: -131px;
  }

  .page .content .finish-up .container .buttons {
    position: absolute;
    top: -105px;
  }

  .page .content .finish-up .container .buttons .confirm {
    position: relative;
    left: 362.5px;
  }

  .page .content .finish-up .container .buttons .Go-Back {
    transform: translateX(5px);
  }
}

/* End Page Four */
/* Start Page Goodbye */
.page .content .finish-up .container.active .goodbye {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  right: 3px;
}

.page .content .finish-up .container.active .goodbye img {
  width: 55px;
}

.page .content .finish-up .container.active .goodbye .text {
  width: 100%;
}

.page .content .finish-up .container.active .goodbye .text h2 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.page .content .finish-up .container.active .goodbye .text p {
  width:295px;
  position: relative;
  right:1px;
}

@media (min-width:768px) {
  .page .content .finish-up .container.active .goodbye {
    width: 100%;
    height: 100%;
    position: relative;
    top: 160px;
  }

  .page .content .finish-up .container.active .goodbye img {
    width: 80px;
    position: relative;
    right:110px;
  }
  .page .content .finish-up .container.active .goodbye .text{
    position: relative;
    top: 5px;
    text-align: center;
  }
  .page .content .finish-up .container.active .goodbye .text h2{
    position: relative;
    right:110px;
  }
  .page .content .finish-up .container.active .goodbye .text p{
    width: 71%;
    position: relative;
    right:-1px;
  }
}

/* End Page Goodbye */